<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        h3 #{message}
        h5 3...
        script.
            var secs = 3; 
            var counter = setInterval(function(){
            secs--;
            document.querySelector('h5').innerHTML = secs + '...';
            },1000); 

            setTimeout(function() {
            clearInterval(counter);
            window.location = "http://localhost:3000";
            }, 3000);
